
BlazorClient/BlazorClient/Client/obj/
BlazorClient/BlazorClient/Client/bin/

BlazorClient/BlazorClient/Server/obj/
BlazorClient/BlazorClient/Server/bin/

BlazorClient/BlazorClient/Shared/obj/
BlazorClient/BlazorClient/Shared/bin/

BlazorServer/BlazorServer/obj/
BlazorServer/BlazorServer/bin/

BlazorServer/.vs/BlazorServer/v16/

BlazorClient/.vs/BlazorClient/v16/
