@page "/arac/create"

<h3> Arac Oluştur</h3>

<AracForm Arac="arac" OnValidSubmit="Create"></AracForm>

@code{
    private Arac arac=new Arac();

    private void Create()
    {
        Console.WriteLine(arac.Marka);
    }
}