<p>Adı: @mal.Ismi</p>
<p>Uzunlugu: @mal.Uzunlugu</p>
@if (SilGorunur)
{
    <div>
        <button @onclick="@(()=>MalSil.InvokeAsync(mal))" class="btn btn-danger">Sil</button>
    </div>
}

@code{
    [Parameter]
    public Malzeme mal { get; set; }

    [Parameter]
    public bool SilGorunur { get; set; }

    [Parameter]
    public EventCallback<Malzeme> MalSil { get; set; }

}