<h3>Malzemeler</h3>

<input type="checkbox" @bind="gorunur" />

<GenericList TItemList="MalzemeList">
    <TItemTemplate Context="item">
        <Mal mal="item" SilGorunur="gorunur" MalSil="MalSil"></Mal>
    </TItemTemplate>
</GenericList>



@code{
    [Parameter]
    public List<Malzeme> MalzemeList { get; set; }



    bool gorunur = false;

    private void MalSil(Malzeme mal)
    {
        MalzemeList.Remove(mal);
    }

}