<h3>Malzemeler</h3>

@*<input type="checkbox" @onchange="@(()=>gorunur = !gorunur)"/>*@

<input type="checkbox" @bind="gorunur" />

<div>
    @foreach (var item in MalzemeList)
    {
        <Mal mal="item" SilGorunur="gorunur" MalSil="MalSil"></Mal>
    }
</div>


@code{
    [Parameter]
    public List<Malzeme> MalzemeList { get; set; }

    bool gorunur = false;

    private void MalSil(Malzeme mal)
    {
        MalzemeList.Remove(mal);
    }

}