@page "/counter"


<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div>
    <p style="font-size:@AppState.Boyut;">Cascading Value : @AppState.Sayi</p>
</div>


@code {

    [CascadingParameter]
    public AppState AppState { get; set; }


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        AppState.Sayi = currentCount;
        AppState.Boyut = currentCount + "px";
    }


    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized " + currentCount.ToString());
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine("OnParametersSet " + currentCount.ToString());
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("OnAfterRender " + currentCount.ToString());
        Console.WriteLine("OnAfterRender firstRender=" + firstRender.ToString());

    }

    //protected override bool ShouldRender()
    //{
    //    if (currentCount<=5)
    //    {
    //        return true;
    //    }
    //    return false;
    //}
}
