@page "/depo"

@page "/depo1"
@page "/depo2"



<Malzemeler MalzemeList="malzemeList" @ref="malzemeler"></Malzemeler>

<br />

<button class="btn btn-success" @onclick="(()=>malzemeler.Isimler())"></button>

@code{
    Malzemeler malzemeler;

    public void Isimler()
    {
        foreach (var item in malzemeler.Isimler())
        {
            Console.WriteLine(item);
        }
    }
}