@page "/depo"

@page "/depo1"
@page "/depo2"
@inject NavigationManager navigationManager


<Malzemeler MalzemeList="malzemeList" @ref="malzemeler"></Malzemeler>

<br />

<button class="btn btn-success" @onclick="(()=>malzemeler.Isimler())"></button>

<button class="btn btn-danger" @onclick="RouteCounter">Countera Git</button>

@code{
    Malzemeler malzemeler;

    public void Isimler()
    {
        foreach (var item in malzemeler.Isimler())
        {
            Console.WriteLine(item);
        }
    }

    public void RouteCounter()
    {
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("counter");
    }
}