@page "/depo"
@inject BlazorClient.Client.Helper.InMemory inMemory


<Malzemeler MalzemeList="malzemeList"></Malzemeler>

<br />

<h2>Raflar</h2>

@code{
    List<Malzeme> malzemeList;


    protected override void OnInitialized()
    {
        malzemeList = inMemory.GetMalzemeList();


    }
}