@page "/"
@inject IJSRuntime JSRuntime

<button class="btn btn-success" @onclick="RunJSAlert">RunJSAlert</button>

<button class="btn btn-success" @onclick="AlVer">AlVer</button>
<input type="text" @bind="result"/>

<button class="btn btn-info" onclick="randomRakamVer(100)">Random Rakam</button>
<div>
    Sounc : <span id="randomrakam"></span>
</div>

@code{
    async Task RunJSAlert()
    {
        await JSRuntime.InvokeVoidAsync("myAlert");
    }

    string result;

    async Task AlVer()
    {
        result = await JSRuntime.AlVer("Ahmet", "Sekmen");
    }


    [JSInvokable]
    public static Task<int> RandomSayiUret(int limit)
    {
        return Task.FromResult(new Random().Next(limit));
    }
}