@page "/"
@inject IJSRuntime JSRuntime

<button class="btn btn-success" @onclick="RunJSAlert">RunJSAlert</button>

<button class="btn btn-success" @onclick="AlVer">AlVer</button>
<input type="text" @bind="result"/>


@code{
    async Task RunJSAlert()
    {
        await JSRuntime.InvokeVoidAsync("myAlert");
    }

    string result;

    async Task AlVer()
    {
        result = await JSRuntime.AlVer("Ahmet", "Sekmen");
    }

    protected override void OnInitialized()
    {
        JSRuntime.
        }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.
        }
    }

}