@page "/"
@inject IJSRuntime JSRuntime

<AuthorizeView Roles="Manager">
    <Authorized>
        Yetkiniz Var, @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        Yetkiniz yok
    </NotAuthorized>
</AuthorizeView>

<br />
<hr />

<button class="btn btn-success" @onclick="RunJSAlert">RunJSAlert</button>

<button class="btn btn-success" @onclick="AlVer">AlVer</button>
<input type="text" @bind="result"/>

<button class="btn btn-info" onclick="randomRakamVer(100)">Random Rakam</button>
<div>
    Sounc : <span id="randomrakam"></span>
</div>


<p>@AppState.Sayi</p>

@code{
    [CascadingParameter]
    public AppState AppState { get; set; }


    async Task RunJSAlert()
    {
        await JSRuntime.InvokeVoidAsync("myAlert");
    }

    string result;

    async Task AlVer()
    {
        result = await JSRuntime.AlVer("Ahmet", "Sekmen");
    }


    [JSInvokable]
    public static Task<int> RandomSayiUret(int limit)
    {
        return Task.FromResult(new Random().Next(limit));
    }
}